:root {
  --primary: #169AA3;
  --secondary: white;
  --tertiary: #00796b;
  --light: #e1f5f4;
  --dark: #6c7575;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: black;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

.homecarousel {
  margin-top: 5%;
  background-color: black;
}

.MuiMobileStepper-dot {
  background-color: var(--primary) !important;
}

.MuiMobileStepper-dotActive {
  background-color: white !important;
}

.Mui-disabled {
 color: var(--primary) !important;
}

.single-post {
  align-items: center !important;
}

.add-post {
  position: absolute;
  right: 50px;
  border: none;
  bottom: 3rem;
  background-color: white;
}

.text-window {
  background-color: white;
  width: 500px;
  padding-top: 30px;
}

.btn-container {
  color: var(--tertiary);
  text-align: center;
  margin: auto;
}

.post-btn {
  color: var(--tertiary);
  margin: auto;
  text-align: center;
  width: 55px !important;
  height: 55px !important;
  cursor: pointer;
}

.textfield-container {
  height: 200px;
  padding-top: 20px;
  background-color: white !important;
}

.dialog-header {
  text-align: center;
  color: aliceblue;
  background-color: var(--tertiary);
  margin-bottom: 3%;
}

.replyList {
  align-items: center;
  text-decoration: none;
}

.replyMap {
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}

.replyMap::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 980px) {
.head {
  display: flex;
  flex-direction: column !important;
  padding-top: 3%;
}

.headerNav {
  font-size: 30px;
}

.homecarousel {
  margin-top: 20%;
}

.carousel-imgs {
  padding-top: 5% !important;
  max-width: 80% !important;
}

.carousel-steppers {
  max-width: 60% !important;
}

.carousel-btn {
  font-size: 20px !important; 
}

/* login/signup forms */
.form-btn {
  height: 5vh;
}

.form-input {
  height: 7vh !important;
}

/* post */
.post-card {
  width: 100% !important;
  max-width: 80vw;
}
}

@media screen and (max-width: 758px) {

}

@media screen and (max-width: 575px) {
  .home {
    width: 10% !important;
    flex: 30%;
  }

  .logo-1 {
    width: 70%;
  }

  .logo-2 {
    width: 20%;
  }
}