:root {
  --primary: #169AA3;
  --secondary: white;
  --light: #e1f5f4;
  --dark: #6c7575;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: black;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

.homecarousel {
  margin-top: 5%;
  background-color: black;
}

.MuiMobileStepper-dot {
  background-color: var(--primary) !important;
}

.MuiMobileStepper-dotActive {
  background-color: white !important;
}

.Mui-disabled {
 color: var(--primary) !important;
}