.headerNav {
    margin: 0 2em 0 0;
    text-decoration: none;
    color: var(--secondary);
  
  }
  
  .home {
    margin: 0 1em;
    text-decoration: none;
    color: var(--secondary);
  }

.dash-header {
  font-weight: 600;
  font-size: 20px;
  font-family:'Roboto Slab';
  color: rgb(79, 107, 182);
  padding: 15px;
}