.add-post {
    color: var(--primary);
    border: none;
    bottom: 3rem;
    
}

.add-file-btn {
    color: var(--primary);
    margin: 10px;
}

.text-field {
    color: var(--primary);
}

.post-btn {
    color: var(--primary);
}
